<div class="table"><table class="tg">
  <tr>
    <th class="tg-yw4l"></th>
  </tr>
  <tr>
    <th class="tg-yw4l"></th>
  </tr>
  <tr>
    <th class="tg-yw4l"></th>
  </tr>
  <tr>
    <th class="tg-yw4l"></th>
  </tr>
</table></div>
